// Цвета
$color-white: #fff;
$color-dark: #000000;
$color-dark-2: #10101D;
$color-dark-3: #2A2B30;
$color-dark-4: #272733;
$color-dark-5: #3D4050;
$color-blue: #3E9CDC;
$color-blue-2: #43ABF0;
$color-blue-3: #286690;
$color-blue-4: #42A9ED;;
$color-gray: #6F6D7B;
$color-gray-2: #BBBBBB;
$color-gray-3: #C3C3C3;